In [81]:
#Create a linear regression model in which the weight is the dependent model and the rest of the variables are independent 
#(minus the species).

import pandas as pd
from sklearn.linear_model import LinearRegression

df=pd.read_csv("fish.csv")
df.dropna(inplace=True)
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [82]:
df.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [83]:
#building the model
import numpy as np
model=LinearRegression()
cols=list(df.columns)
cols.remove("Species")
cols.remove("Weight")
X=df[cols].values
Y=df.iloc[:,1].values
print(X.shape)
print(Y.shape)
model.fit(X,Y)

(159, 5)
(159,)

LinearRegression()

In [84]:
#Measure the quality of your model using the R² score.
r_squared=model.score(X,Y)
print("R² value is ",r_squared)

R² value is  0.8852867046546207